<h1 mat-dialog-title>Parabéns {{ nome.value }}.</h1>
<h5 mat-dialog-title>Cadastro Realizado com Sucesso!</h5>
<mat-dialog-content class="mat-typography">
  <h3>Orientações</h3>

  <p>
      <span>&#10003;</span> Procurar a Belotur no endereço informado
  </p>

  <p>
      <span>&#10003;</span> Apresentar a Documentação
  </p>

  <p>
      <span>&#10003;</span> Validar os Dados
  </p>

  <p>
      <span>&#10003;</span> Correr pro abraço
  </p>

  <h2>Estou ciente do que devo fazer!</h2>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Entendi</button>
</mat-dialog-actions>
