<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 banner-sec">
      </div>

      <div class="col-sm-4 login-sec">
          <h2 class="text-center">BELOTUR</h2>
          <!-- <form class="login-form"> -->
          <div class="form-group">
              <button mat-flat-button type="button" class="btn-lg btn-block" routerLink="/formulario">Ambulante (Quero me cadastrar)</button>
              <!-- <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="abrirArmazenarContato()">Ambulante (Quero me cadastrar)</button> -->
          </div>
          <br>
          <div class="form-group">
              <!-- <button mat-flat-button type="button" class="btn-lg btn-block" routerLink="/login/auth">Atendente (Area Restrita)</button> -->
              <button mat-flat-button type="button" class="btn-lg btn-block" routerLink="/app">Atendente (Area Restrita)</button>
          </div>


          <div class="form-check">
            <label class="form-check-label">

            </label>
          </div>
          <!-- </form> -->

        </div>

    </div>
    <!-- </section> -->
