<mat-toolbar color="primary">
  <div fxFlex="1 1 auto"></div>
  <h2 class="section-header">{{ titulo }}</h2>
  <div fxFlex="1 1 auto"></div>
</mat-toolbar>

<div class="row">

  <mat-card>
    <mat-card-content>

      <form [formGroup]="form">

        <mat-form-field style="display: none">
          <input matInput placeholder="{{atendenteCpf}}" value="{{atendenteCpf}}" formControlName="atendenteCpf">
        </mat-form-field>

        <mat-form-field style="display: none">
          <app-web-cam #webcam></app-web-cam>
          <input matInput placeholder="Foto" value="{{webcam.webcamImage}}" formControlName="foto" #foto>
        </mat-form-field>

        <!-- <div class="container"> -->

        <h2>Dados Pessoais</h2>

        <div class="row">

          <div class="col-sm-12">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Nome Completo" formControlName="nome" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput type='text' mask="000.000.000-00" #input minlength="11" maxlength="14" placeholder="CPF"
                formControlName="cpf" (change)="validarCpf()" required>
              <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="RG" formControlName="rg" class="text-uppercase">
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput type='text' mask="00/00/0000" placeholder="Data de Nascimento" formControlName="dataNascimento"
                class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-2">
            <mat-form-field style="width: 100%;" hintLabel="Primeira vez que cadastra?" appearance="outline">
              <mat-select placeholder="Primeira vez que cadastra?" formControlName="primeiroCadastro" required>
                <mat-option value="true">SIM</mat-option>
                <mat-option value="false">NÃO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Nome da Mãe" formControlName="nomeMae" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Nome do Pai" formControlName="nomePai" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-select placeholder="GÊNERO" formControlName="sexo" class="text-uppercase">
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Feminino">Feminino</mat-option>
                <mat-option value="Outro">Outro</mat-option>
                <mat-option value="Prefiro não dizer">Prefiro não dizer</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Escolaridade" formControlName="escolaridade" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-select placeholder="Estado Civil" formControlName="estadoCivil" class="text-uppercase">
                <mat-option value="Solteiro">Solteiro</mat-option>
                <mat-option value="Casado">Casado</mat-option>
                <mat-option value="Divorciado">Divorciado</mat-option>
                <mat-option value="Viuvo">Viúvo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Profissão" formControlName="profissao" class="text-uppercase">
            </mat-form-field>
          </div>

        </div>

        <h2>Dados Complementares</h2>

        <div class="row">

          <div class="col-sm-2">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput type='text' mask="00000-000" #cep placeholder="CEP" formControlName="cep" (change)="validarCep()"
                required>
                <mat-hint align="end">{{cep.value?.length || 0}}/8</mat-hint>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Av./Rua *" formControlName="endereco" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-2">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Nº" mask="0000000000" formControlName="numero" required>
            </mat-form-field>
          </div>

          <div class="col-sm-2">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Complemento" formControlName="complemento" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-2">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="UF" formControlName="uf" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Bairro" formControlName="bairro" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput placeholder="Cidade" formControlName="cidade" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput type='text' mask="(00) 0000 0000" placeholder="Telefone Fixo" matTooltip="DDD e o número de telefone"
                formControlName="telefone" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <input matInput type='text' mask="(00) 00000 0000" placeholder="Telefone Celular" matTooltip="DDD e o número de telefone"
                formControlName="celular" class="text-uppercase">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field hintLabel="exemplo@email.com" style="width: 100%;" appearance="outline">
              <input matInput type='email' placeholder="E-MAIL" formControlName="email">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <button mat-raised-button (click)="abrirCracha(form.value)">
              <mat-icon>add_a_photo</mat-icon> Tirar Foto
            </button>
          </div>


          <div class="col-sm-2">
            <input style="display: none" type="file" ng2FileSelect #anexo1Input formControlName="anexo1" [uploader]="uploader"
              single />
            <button mat-button (click)="anexo1Input.click()">
              <mat-icon>attach_file</mat-icon> Anexo 1 - CPF
            </button>
          </div>

          <div class="col-sm-2">
            <input style="display: none" type="file" ng2FileSelect #anexo2Input formControlName="anexo2" [uploader]="uploader"
              single />
            <button mat-button (click)="anexo2Input.click()">
              <mat-icon>attach_file</mat-icon> Anexo 2 - RG
            </button>
          </div>

          <div class="col-sm-2">
            <input style="display: none" type="file" ng2FileSelect #anexo3Input formControlName="anexo3" [uploader]="uploader"
              single />
            <button mat-button (click)="anexo3Input.click()">
              <mat-icon>attach_file</mat-icon> Anexo 3 - RESIDENCIA
            </button>
          </div>

          <div class="col-sm-2">
            <input style="display: none" type="file" ng2FileSelect #anexo4Input formControlName="anexo4" [uploader]="uploader"
              single />
            <button mat-button (click)="anexo4Input.click()">
              <mat-icon>attach_file</mat-icon> Anexo 4 - ADESAO
            </button>
          </div>

        </div>

        <br>

        <h2>Anexos</h2>

        <!-- Status dos Arquivos Anexados -->
        <div class="row">

          <div class="col-lg">

            <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.isFile" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isFile">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <br>

        <div class="row">

          <div class="col-sm-1">
            <button mat-flat-button color="primary" id="botao-adicionar" (click)="cadastrarDados(form.value)"
              [disabled]="form.invalid">
              <span>Cadastrar</span>
            </button>
          </div>

          <div class="col-xl">
            <button mat-flat-button color="primary" id="botao-cancelar" routerLink="/app/cadastro/relacao-cadastros">
              <span>Cancelar</span>
            </button>
          </div>

          <div class="col-sm-10">
          </div>

        </div>

      </form>

    </mat-card-content>
  </mat-card>

</div>
